#params(
playlist-port=playlist-port,
playlist-host=playlist-host,
connector-port=connector-port,
connector-host=connector-host,
connection-port=connection-port,
connection-host=connection-host,
view-port=view-port,
view-host=view-host)