#params(
playlist-port=playlistPort,
playlist-host=playlistHost,
connector-port=connectorPort,
connector-host=connectorHost,
connection-port=connectionPort,
connection-host=connectionHost,
view-port=viewPort,
view-host=viewHost)